@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Permanent+Marker&family=Poppins:wght@500;600&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'poppins';
    user-select: none;


}
body{
    background-color: #feffff;
}
header{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    margin-bottom: 2.5rem;
    z-index: 5;
}
header .nav-menu ul li a{
    font-family: 'Courgette';
    font-size: 1.4rem;
    color: #000;
}
.nav-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    padding: 20px;
}
.logo-box{
    min-width: 15rem;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.logo-box img{
    height: 55px;
    width: 135px;
}
.login-box{
    min-width: 15rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.login-box h2{
    font-family: 'Courgette';
    font-weight: 200;
}
.nav-menu-2{
    display: none;
    z-index: 1;
}

/* SECTION 1 CSS STARTS HERE  */
.section-1{
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
}
.bottom-card{
    position: relative;
    height: 24rem;
    border-radius:68px;
    overflow: hidden;
    z-index: 0;
    overflow: hidden;
    width: 90%;
}
.bottom-card h2{
    position: absolute;
    color: #feffff;
    font-family: 'Courgette';
    font-size: 3rem;
    z-index: 2;
    left: 28rem;
    transform: translateY(3rem);
    font-weight: 200;

}
.top-card{
    background-color: #feffff;
    border: 0.1px solid rgba(38, 38, 38, 0.393);
    box-shadow: 0 0 3px rgba(23, 23, 23, 0.294);
    height: 38rem;
    width: 80%;
    z-index: 1;
    transform: translateY(-16rem);
    border-radius: 68px;
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
}
.top-card-sec-part{
    display: flex;
}
.top-card-first-part{
    cursor:default;
    width: 100%;
    height: 2.7rem;
    display: flex;
    justify-content: center;
}
.top-card-first-part h1{
    font-family: 'Courgette';
    font-size: 2.7rem;
    color: #feffff;
    font-weight: 200;
    transform: translateY(-5rem);
}

.carousel{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    height: 450px;
    width: 310px;
    cursor: pointer;
}
.swiper-wrapper{
    align-items: center;
}
.swiper-slide{
    width: 310px;
    height: 350px;
    overflow: hidden;
}
.swiper-slide img{
    width: 310px;
    height: 350px;
    padding: 5px;
    border: 1px solid #000;
}
.swiper-pagination-bullet{
    color: #000;
    background-color: black;
}
.swiper-slide-active{
    height: 420px;
    min-width: 310px;
    transition: .1s;
    z-index: 1000;
}
.swiper-slide-active img{
    height: 420px;
    width: 310px;
}
.swiper-slide-next{
    height: 360px;
    width: 250px;
    transition: .1s;
    z-index: 500;

}
.swiper-slide-next img{
    height: 360px;
    width: 240px;
}
.swiper-slide-duplicate-prev{
    height: 320px;
    width: 200px;
    transition: .1s;
    z-index: 100;
}
.swiper-slide-duplicate-prev img{
    height: 320px;
    width: 200px;
}

.top-card-title{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-title{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor:default;
}
.card-title h2{
    font-family: 'Courgette';
    font-size: 3rem;
    font-weight: 200;
}
.price{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    cursor:default;
}
.resp-price{
    display: none;
    cursor:default;
}
.resp-button{
    display: none;
}
.price h2{
    font-family: 'poppins';
    font-size: 1.6rem;
    font-weight: 300;
    margin-right: 4px;
}
.price h3,.resp-price h3{
    text-decoration: line-through;
    margin-right: 2.4rem;
}
.price h1,.resp-price h1{
    margin-right: 1rem;
    font-family: 'Courgette';
    font-size: 1.8rem;
    color: rgb(128, 189, 36);
}
.description{

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 2.8rem;
    cursor:default;
}
.description p{
    font-family: 'Courgette';
    font-weight: 200;
    color: grey;
}
.top-card-title button{
    width: 80%;
    color: #feffff;
    background-color: #000;
    height: 5rem;
    border-radius: 22px;
    font-family: 'Courgette';
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 200;
}
/* SECTION 1 CSS ENDS HERE  */


/* SECTION 2 CSS STARTS HERE  */
.section-2-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:5rem;
    background-color: #feffff;
    cursor:default;
}
.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-13rem);
}
.section-2-title h1{
    font-family: 'Courgette';
    font-size: 3rem;
    font-weight: 200;
}
.features-box{
    width: 80%;
    height: 24rem;
    border: 1px solid rgba(40, 38, 38, 0.657);
    border-radius: 68px;
    overflow: hidden;
    display: flex;
}
.bottom-card-title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.feature-1,.feature-2,.feature-3{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-text{
    font-family: 'Courgette';
    font-size: 1.7rem;
    font-weight: 200;
    padding: 0 45px;
    cursor:default;
}
.feature-img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: #9694941e;
    margin-bottom: 22px;
    cursor: pointer;
}
/* SECTION 2 CSS ENDS HERE  */

.hamburger{
    display: none;
}

@media only screen and (max-width:1000px){
    header .nav-menu ul li a{
        font-size: 1.1rem;
    }
    .logo-box img{
        height: 50px;
        width: 110px;
    }
    .login-box{
        min-width: 9rem;
    }
    .logo-box{
        justify-content: center;
        min-width: 9rem;
    }
    .login-box h2{
        font-size: 20px;
    }
    .bottom-card{
        height: 19rem;
        border-radius: 45px;
    }
    .top-card{
        border-radius:51px;
        transform: translateY(-14rem);
    }
    .top-card-first-part{
        transform: translateY(1rem);
    }
    .top-card-first-part h1{
        font-size: 38px;
    }
    .top-card-title .card-title h2{
        font-size: 30px;
    }
    .price h2{
        font-size: 20px;
    }
    .price h3{
        font-size: 15px;
    }
    .price h1{
        font-size: 21px;
    }
    .description p{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .top-card-title button{
        height: 3rem;
        border-radius: 25px;
        font-size: 20px;
    }
    .swiper{
        height: 450px;
        width: 220px;
    }
    .swiper-wrapper{
        align-items: center;
    }
    .swiper-slide{
        width: 220px;
        height: 350px;
        overflow: hidden;
    }
    .swiper-slide img{
        width: 220px;
        height: 350px;
        padding: 5px;
        border: 1px solid #000;
    }
    .section-2-title h1{
        font-size: 30px;
    }
    .features-box{
        height: 14rem;
        border-radius: 45px;
    }
    .feature-text{
        font-size: 17px;
    }
    .feature-img{
        width: 80px;
        height: 80px;
    }
}



@media only screen and (max-width:722px) {
    .nav-menu{
        display: none;
    }
    .login-box{
        display: none;
    }
    .hamburger{
        display: flex;
        height: 100%;
        min-width: 10%;
        justify-content: center;
        align-items: center;
    }
    .hamburger i{
        font-size: 2rem;
        color: #000;
        height: 2rem;
        width: 2rem;
    }
    .nav-menu-2{
        top: -17rem;
        z-index: 5;
        position: absolute;
        display: flex;
        background-color: #feffff;
        width: 100%;
        height: 18rem;
        justify-content: center;
        align-items: center;
    }
    .open-menu{
        top: 3rem;
        transition: 0.1s;
    }
    .nav-menu-2 ul li a{
        text-decoration: underline;
        font-family: 'Courgette';
        font-size: 25px;
        color: #000;
    }
    .nav-menu-2 ul li{
        margin-bottom: 17px;
        margin-left: 4rem;
    }
    header{
        height:3.5rem;
        box-shadow:  0 0 2px #000;
        justify-content: space-between;
    }
    .logo-box{
        width: 90%;
    }
}  

@media only screen and (max-width:650px){
    .top-card-sec-part{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-bottom: 15px;
    }
    .swiper{
        height: 350px;
        width: 240px;
    }
    .swiper-wrapper{
        align-items: center;
    }
    .swiper-slide{
        width: 240px;
        height: 350px;
    }
    .swiper-slide img{
        width: 240px;
        height: 350px;
        padding: 5px;
        border: 1px solid #000;
    }
    .top-card-title{
        width: 100%;
    }
    .card-title{
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .price{
        margin-bottom: 1rem;
    }
    .description{
        margin-bottom: 2rem;
    }
    .top-card{
        height: 45rem;
    }
    .top-card-first-part h1{
        font-size: 30px;
    }
    .feature-text{
        font-size: 14px;
        padding: 0 20px;
    }
    .bottom-card{
        height: 15rem;
    }
    .top-card{
        transform: translateY(-11rem);
    }
    .top-card-first-part{
        transform: translateY(1.7rem);
    }
    .section-2{
        transform: translateY(-11rem);
    }
} 
@media only screen and (max-width:489px){
    .swiper{
        height: 300px;
        width: 190px;
    }
    .swiper-slide{
        height: 300px;
        width: 190px;
    }
    .swiper-slide img{
        height: 300px;
        width: 190px;
    }
    .nav-menu-2 ul li a{
        font-size: 22px;
        text-decoration: underline;
    }
    .nav-menu-2{
        height: 16rem;
    }
}

@media only screen and (max-width:380px){
    .bottom-card{
        height: 9rem;
        border-radius: 25px;
    }
    .top-card{
        height: 34rem;
        transform: translateY(-6rem);
        border-radius: 35px;
    }
    .top-card-first-part h1{
        font-size: 24px;
    }
    .top-card-first-part{
        transform: translateY(2.4rem);
    }
    .section-2{
        transform: translateY(-7rem);
    }
    .price{
        display: none;
    }
    .resp-price{
        display: flex;
        margin-bottom: 8px;
        margin-top: 12px;
    }
    .resp-price h2{
        font-size: 18px;
    }
    .resp-price h3{
        font-size: 12px;
    }
    .resp-price h1{
        font-size: 19px;
    }
    .top-card-title .card-title{
        margin-top: 0px;
    }
    .top-card-title .card-title h2{
        font-size: 20px;
    }
    .description p{
        font-size: 10px;
    }
    .swiper{
        height: 230px;
        width: 170px;
    }
    .swiper-wrapper{
        display: flex;
        align-items: center;
    }
    .swiper-slide{
        height: 230px;
        width: 170px;
    }
    .swiper-slide img{
        height: 230px;
        width: 170px;  
    }

    .features-box{
        flex-direction: column;
        align-items: center;
        height: 20rem;
    }
    .feature-1,.feature-2,.feature-3{
        flex-direction: row;
        width: 100%;
        height: 33%;
        justify-content: space-between;
    }
    .feature-text{
        font-size: 12px;
    }
    .feature-img{
        min-height: 50px;
        min-width: 50px;
        max-height: 50px;
        max-width: 50px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .nav-menu-2 ul li a{
        font-size: 20px;
        text-decoration: underline;
    }
    .nav-menu-2{
        height: 14rem;
    }

}